@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: linear-gradient(to bottom right, #111b2b, #2c3c54, #111b2b);
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background: transparent;
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: var(--font-montserrat);
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

@layer base {
  html {
    font-family: var(--font-montserrat), system-ui, sans-serif;
  }
}
